* {
    margin: 40px;
}
body{
    margin: 0;
    padding: 0;
    font-size: 62,5%;
    font-family: 'Manrope', sans-serif;
    background-color:rgb(238, 238, 236);
}   
.menu {
    font-size: 2rem;
    font-weight: 600;
    position: fixed;
    right: 0;
    top: 0;

    z-index: 10;
}
.cart{
    font-size: 2rem;
    font-weight: 600;
    position: fixed;
    left: 0;
    top: 0;

    z-index: 10;
}
.cart a {
    color: black;
    position: fixed;
    left: 0;
    top: 0;

    text-decoration: none;
}
.urban{
    position: fixed;
    left:0;
    top: 40%;

    font-size: 1.5rem;
    font-weight: 500;
    transform: rotate(-90deg);

    margin-left: 0;
    margin-bottom: 1px;

    z-index: 10;
}
.about {

    font-size: 2rem;
    font-weight: 600;
    position: fixed;
    bottom: 0;
    left: 0; 
    z-index: 10;  
}
.about a {

    text-decoration: none;
    color: black;

}
.logo{

    font-size: 2rem;
    font-weight: 600;

    color: black;
    
    position: fixed;
    bottom: 0;
    right:0;  

    z-index: 10;
}
.grid {

    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(238, 238, 236);

    z-index: 1; 

    padding: 20px;

    line-height: 3px;

    height: 92.8vh;
} 
img {

    height: 60vh;
    
}
 .bilder h1 {

    font-family: 'Manrope', sans-serif;
    
}
.add-to-cart {

    font-family: 'Manrope', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    background-color:transparent;
    border: black solid 2px;
    border-radius: 500px; 

    cursor: pointer;
}
:hover.add-to-cart {

    border-radius: 0;
    transform: scale(1.1);
    
}
.product-image{

    border-radius: 500px;

}
.product-name{

    font-family: 'Manrope', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;

}
.product-price{

    font-family: 'Manrope', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;

}


